<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Admin</title>
    <link href="../../UI/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../UI/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="../../UI/css/portal.css" rel="stylesheet" />
    <link href="../../UI/css/iziToast.min.css" rel="stylesheet" />
    <link href="../../ui/js/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../UI/ReportComponent/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="../../UI/ReportComponent/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../../UI/ReportComponent/css/responsive.dataTables.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("cssStyle", required: false)

    <script src="../../UI/js/jquery.min.js"></script>
    <script src="../../ui/js/functions.js"></script>
    <script src="../../Scripts/jquery.validate.min.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="../../Scripts/formScript.js"></script>
    <script src="../../Scripts/jquery.form.js"></script>
    <style>
        img.ui-datepicker-trigger {
            display: none;
        }

        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript, if it's not present, don't show loader */
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../../UI/images/clock-loading.gif') center no-repeat #fff;
        }

        .menu-date {
            padding-top: 12px;
            padding-left: 35px;
            padding-right: 10px;
            font-size: 10px;
            text-transform: uppercase;
            color: #eee;
        }

            .menu-date .mdi {
                font-size: 24px;
                position: absolute;
                left: 0;
                top: 12px;
                color: #fff;
            }

            .menu-date .app-date {
                display: block;
                font-size: 14px;
                color: #fff;
            }
    </style>
    <script>
        function ExportToExcel() {
            var html = $("#main").html();
            //alert(html);
            if (html == null || html == "" || html == undefined) {
                return false;
            }
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
        }

    </script>


</head>
<body>
    <div class="se-pre-con"></div>
    <main class="mainframe">
        <header class="header">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("Notification")


                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="user-avatar">@MVCERP.Web.Library.StaticData.GetUser().Substring(0, 1).ToUpper()</span>
                                <div class="user-info">
                                    <span class="user-name">@MVCERP.Web.Library.StaticData.GetUser()</span>
                                    <span class="user-role">Administrator</span>
                                </div>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/ChangePassword"><i class="mdi mdi-calendar-today"></i> Change Password</a></li>
                                <li><a href="/Home/LogOff"><i class="mdi mdi-power"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-date">
                            <i class="mdi mdi-calendar"></i>
                            Application Date :
                            @*<span class="app-date">
                                    @MVCERP.Web.Library.StaticData.ReadSession("NepsysDate", "")
                                    - @MVCERP.Web.Library.StaticData.ReadSession("sysDate", "")
                                </span>*@
                            <span class="app-date">
                                @MVCERP.Web.Library.StaticData.ReadSession("NepsysDate", "") - @MVCERP.Web.Library.StaticData.ReadSession("sysDate", "")<br />
                                @{
                                    if (@MVCERP.Web.Library.StaticData.ReadSession("sysDate", "") != @MVCERP.Web.Library.StaticData.ReadSession("FPIBackDate", ""))
                                    {
                                        <label>FPIBackDate:</label> @MVCERP.Web.Library.StaticData.ReadSession("FPIDate", "");
                                    }
                                }
                            </span>
                        </li>
                        <li>
                            <a href="#" class="btn-sms" id="btnSms">
                                <i class="mdi mdi-message-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn-email" id="btnEmail">
                                <i class="mdi mdi-email-outline"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="nav navbar-nav navbar-menu">
                            @Html.Partial("Menu")
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content">
            @RenderBody()
            <div class="push-panel" id="pushSMS">
                <div class="push-header">
                    <div class="push-title">
                        Quick Messaging
                        <button type="button" class="close" id="btnCloseSMS"><span>&times;</span></button>
                    </div>
                </div>
                <div class="push-body">
                    <div class="form-group">
                        <label>Notification Type</label>
                        <select id="ddlNotificationType" class="form-control" required="required"><option value="">-- Select Notification Type --</option></select>
                    </div>
                    <div class="form-group" id="divGroup">
                        <label>Notification Group</label>
                        <select id="ddlNotificationGroup" class="form-control"><option value="">-- Select Notification Group --</option></select>
                    </div>
                    <div class="form-group" id="divPhone">
                        <label>Enter Phone Number</label>
                        <input type="text" name="txtPhoneNo" class="form-control" id="txtPhoneNo" onblur="MakeNumberOnly(this);" />
                    </div>
                    <div class="form-group">
                        <label>Enter Your Text</label>
                        <textarea class="form-control" id="smsContent" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Send" class="btn btn-primary" onclick="SendSms();" />
                        <input type="reset" value="Cancel" class="btn btn-default" id="btnCancelSMS" />
                    </div>
                </div>
            </div>
            @*
                <div class="push-panel" id="pushEmail">
                    <div class="push-header">
                        <div class="push-title">
                            Send Notification
                            <button type="button" class="close" id="btnCloseEmail"><span>&times;</span></button>
                        </div>
                    </div>
                    <div class="push-body">
                        <div class="form-group">
                            <label>Enter Notification Message</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Send to Corporate
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" value="Send" class="btn btn-primary" />
                            <input type="reset" value="Cancel" class="btn btn-default" id="btnCancelEmail" />
                        </div>
                    </div>
                </div>*@
        </div>
        <footer class="footer">
            <div class="container text-center">
                <hr />
                &copy; Copyright @System.DateTime.Now.ToString("yyyy"). All Rights Reserved <a href="www.darshan.tech" target="_blank">Darshantech®</a>
            </div>
        </footer>
    </main>

    <script src="../../UI/js/jquery.min.js"></script>
    <script src="../../UI/js/bootstrap.min.js"></script>
    <script src="../../UI/js/iziToast.min.js"></script>
    <script src="../../UI/js/jquery-ui.min.js"></script>
    <script src="../../UI/js/Custom-Helper.js"></script>
    <script src="../../UI/js/Template-Helper.js"></script>
    <script src="../../UI/js/jquery.slidereveal.js"></script>
    <script src="../../UI/ReportComponent/js/jquery.dataTables.min.js"></script>
    <script src="../../UI/ReportComponent/js/dataTables.buttons.min.js"></script>
    <script src="../../UI/ReportComponent/js/jszip.min.js"></script>
    <script src="../../UI/ReportComponent/js/buttons.colVis.min.js"></script>
    <script src="../../UI/ReportComponent/js/buttons.flash.min.js"></script>
    <script src="../../UI/ReportComponent/js/buttons.html5.min.js"></script>
    <script src="../../UI/ReportComponent/js/buttons.print.min.js"></script>
    <script src="../../UI/ReportComponent/js/pdfmake.min.js"></script>
    <script src="../../UI/ReportComponent/js/vfs_fonts.js"></script>
    <script src="../../UI/ReportComponent/js/responsive.bootstrap.min.js"></script>
    @RenderSection("Message", required: false)
    @RenderSection("scripts", required: false)
    <script>
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");

        });
        $(document).ready(function () {
            var sliderSMS = $('#pushSMS').slideReveal({
                trigger: $("#btnSms"),
                push: false,
                position: "right",
                width: "350px",
            });
            $("#btnCloseSMS, #btnCancelSMS").click(function () {
                sliderSMS.slideReveal("hide");
            })
            var sliderEmail = $('#pushEmail').slideReveal({
                trigger: $("#btnEmail"),
                push: false,
                position: "right",
                width: "350px",
            });
            $("#btnCloseEmail, #btnCancelEmail").click(function () {
                sliderEmail.slideReveal("hide");
            })

            PopulateNotificationTypeDropdown();
            PopulateNotificationGroupDropdown();

            $("#ddlNotificationType").trigger('change');
        });
        $("#ddlNotificationType").change(function () {
            ShowHide();
        });
        function PopulateNotificationTypeDropdown() {
            $.ajax({
                type: "GET",
                url: "/NotificationSetup/PopulateNoticationTypeDropdown",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        var div_data = "<option value=" + obj.Value + ">" + obj.Code + "</option>";
                        $(div_data).appendTo('#ddlNotificationType');
                    });
                }
            });
        }
        function PopulateNotificationGroupDropdown() {
            $.ajax({
                type: "GET",
                url: "/NotificationSetup/PopulateNoticationGroupDropdown",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, obj) {
                        var div_data = "<option value=" + obj.GroupName + ">" + obj.GroupName + "</option>";
                        $(div_data).appendTo('#ddlNotificationGroup');
                    });
                }
            });
        }
        function ShowHide() {
            $("#divGroup").hide();
            $("#divPhone").hide();
            var ddlOpt = $("#ddlNotificationType").val();

            if (ddlOpt == "QuickSMS") {
                $("#divGroup").hide();
                $("#divPhone").show();
            }
            else if (ddlOpt == "Email") {
                $("#divPhone").hide();
                $("#divGroup").show();
            }
            else if (ddlOpt == "BulkSMS") {
                $("#divPhone").hide();
                $("#divGroup").show();
            }
            else if (ddlOpt == "InternalNotice") {
                $("#divPhone").hide();
                $("#divGroup").show();
            }
            else {
                $("#divGroup").hide();
                $("#divPhone").hide();
            }
        }
        function SendSms() {
            var notificationType = $("#ddlNotificationType").val();
            var phoneNumber = $("#txtPhoneNo").val();
            var groupName = $("#ddlNotificationGroup").val();
            var content = $("#smsContent").val();

            $.ajax({
                url: '/NotificationSetup/SendMessage',
                type: 'POST',
                data: {
                    NotificationType: notificationType
                    , PhoneNo: phoneNumber
                    , GroupName: groupName
                    , Content: content
                },
                success: function (data) {
                    var ErrorCode = 0;
                    var Message = "Sent Successfully.";
                    ManageMessage(ErrorCode, Message);
                }
            });
        }
    </script>

</body>
</html>
