@using MVCERP.Web.Library;
@{

    var user = StaticData.GetUser();
    ViewBag.user = user;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MeroTask Dashboard</title>
    <!-- Favicon icon -->

    <link rel="icon" type="image/png" sizes="32*32" href="~/UI/MeroTaskDashboard/images/MY_Logo.jpg">
    @*<link href="~/UI/MeroTaskDashboard/vendor/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet" />*@
    <link href="~/UI/MeroTaskDashboard/vendor/chartist/css/chartist.min.css" rel="stylesheet">
    <link href="~/UI/js/jquery-ui.css" rel="stylesheet" />
    <link href="~/UI/MeroTaskDashboard/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/UI/MeroTaskDashboard/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />*@
    <link href="~/UI/MeroTaskDashboard/css/style.css" rel="stylesheet">
    <link href="~/UI/MeroTaskDashboard/css/LineIcons.css" rel="stylesheet" />
    <link href="~/UI/MeroTaskDashboard/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../../UI/css/portal.css" rel="stylesheet" />


    @RenderSection("cssStyle", required: false)

</head>
<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">
        <div class="nav-header">
<<<<<<< HEAD
            <a href="#" class="brand-logo" style="height:50px">
                <img class="logo-abbr" src="~/UI/MeroTaskDashboard/images/MY_Logo.jpg" alt="MeroTaskLogo" style="max-width:100px">
                @*<p>Task Manager</p>*@

=======
            <a href="/TaskReporting/UserDetail" class="brand-logo">
                <img class="logo-abbr" src="~/UI/MeroTaskDashboard/images/MY_Logo.jpg" alt="MeroTaskLogo" style="max-width:200px">
                <p></p>
>>>>>>> d3ff3af5091d257b06876227cd2975ea7733c9a5
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown show">
                                <div class="dropdown-menu p-0 m-0 show">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search Here" aria-label="Search">
                                    </form>
                                </div>
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z" fill="#A4A4A4" /></svg>
                                </span>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item">
                                <div>

                                    <a href="/Home/LogOff" class="btn-action" role="button" aria-pressed="true"><i class='mdi mdi-logout' style="font-size:29px;"></i></a>

                                </div>
                            </li>
                            <li class="nav-item">
                                <div>
                                    @using (Html.BeginForm("Profile", "Member", FormMethod.Get, new { @id = "taskform" }))
                                    {
                                        <button type="submit" class="btn btn-block btn-success">@ViewBag.User  <img src="~/Images/user.png" width="20" alt="" /></button>
                                    }

                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                @*<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="header-info">
                                            <span>Hello, <strong class="text-uppercase">@ViewBag.user</strong></span>
                                        </div>
                                        <img src="~/Images/user.png" width="20" alt="" />
                                    </a>*@

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>

                                    <a href="/Home/Index" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </div>
                </nav>
            </div>
        </div>

        <div class="deznav" style="margin-top:unset">
            <div class="deznav-scroll">
<<<<<<< HEAD
                <ul class="metismenu" id="menu" style="padding-top:0px;">
=======
                <ul class="metismenu" id="menu">

                    @*dashboard list*@
>>>>>>> d3ff3af5091d257b06876227cd2975ea7733c9a5
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-networking"></i>
                            <span class="nav-text">Task</span>
                        </a>
                        <ul aria-expanded="false">
<<<<<<< HEAD
                            <li><a href="#">ListofTask</a></li>
                            <li><a href="#">AddNewTask</a></li>

=======
                            <li><a href="/TaskManager/Task">Add Task</a></li>
                            <li><a href="/TaskReporting/Index">Tasks</a></li>
                            <li><a href="/TaskReporting/GetTaskStatus">Task Status</a></li>
>>>>>>> d3ff3af5091d257b06876227cd2975ea7733c9a5
                        </ul>
                    </li>
                    @*dashboard list*@

                    @*user list*@
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="mdi mdi-account"></i>
                            <span class="nav-text">Users</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Member/Index">All Users</a></li>
                            <li><a href="/Member/New">New User</a></li>
                            <li><a href="/Member/Profile">Profile</a></li>
                        </ul>
                    </li>
                    @*user list*@




                    @*back Log list*@
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
<<<<<<< HEAD
                            <i class="flaticon-381-controls-3"></i>
                            <span class="nav-text">BackLog</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Sprint/Index">SprintList</a></li>
                            <li><a href="#">AddedSprint</a></li>
                            
                        </ul>
                    </li>

=======
                            <i class="flaticon-381-television"></i>
                            <span class="nav-text">BackLog</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/BackLog/Index">All Task</a></li>
                            <li><a href="/BackLog/AddBackLogTask">New Task</a></li>
                        </ul>
                    </li>
                    @*back Log list*@



                    @* Role Management *@

                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-television"></i>
                            <span class="nav-text">Role</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Role/Index">Roles</a></li>
                            <li><a href="/Permission/Index">Permissions</a></li>

                        </ul>
                    </li>

                    @* Role Management *@

                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-controls-3"></i>
                            <span class="nav-text">Report</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/TaskReport/Assigned">Assigned Inprogress</a></li>
                            <li><a href="/TaskReport/Completed">Completed</a></li>
                            <li><a href="/TaskReport/Testing">Testing</a></li>
                        </ul>
                    </li>
>>>>>>> d3ff3af5091d257b06876227cd2975ea7733c9a5
                </ul>


                <div class="copyright">
                    <p>
                        <strong>MeroTask-Admin Dashboard</strong> ©
                        @System.DateTime.Now.ToString("yyyy") All Rights Reserved
                    </p>
                </div>
            </div>
        </div>


        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="form-head d-flex mb-3 align-items-start">
                    <div class="mr-auto d-none d-lg-block">
                        <h2 class="text-black font-w600 mb-0">Dashboard</h2>
                        <p class="mb-0 text-uppercase">Welcome to MeroTask @ViewBag.user!</p>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>


    </div>

    <script src="~/UI/MeroTaskDashboard/vendor/jquery/jquery.min.js"></script>
    <script src="~/UI/js/jquery-ui.min.js"></script>
    <script src="~/UI/MeroTaskDashboard/js/popper.min.js"></script>
    <script src="~/UI/MeroTaskDashboard/vendor/bootstrap/dist/js/bootstrap.js"></script>

    @*<script src="~/UI/MeroTaskDashboard/vendor/datatables/js/jquery.dataTables.min.js"></script>*@

    <!-- Required vendors -->

    <script src="~/UI/MeroTaskDashboard/vendor/global/global.min.js"></script>
    @*<script src="~/UI/MeroTaskDashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>*@
<<<<<<< HEAD
    <script src="~/UI/MeroTaskDashboard/vendor/chart.js/Chart.bundle.min.js"></script>
=======
    @*<script src="~/UI/MeroTaskDashboard/vendor/chart.js/Chart.bundle.min.js"></script>*@
>>>>>>> d3ff3af5091d257b06876227cd2975ea7733c9a5
    <script src="~/UI/MeroTaskDashboard/js/custom.min.js"></script>
    <script src="~/UI/MeroTaskDashboard/js/deznav-init.js"></script>
    <!-- Counter Up -->
    <script src="~/UI/MeroTaskDashboard/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/UI/MeroTaskDashboard/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="~/UI/MeroTaskDashboard/vendor/apexchart/apexchart.js"></script>

    <!-- Chart piety plugin files -->
    <script src="~/UI/MeroTaskDashboard/vendor/peity/jquery.peity.min.js"></script>


    <!-- Dashboard 1 -->
    <script src="~/UI/MeroTaskDashboard/js/dashboard/dashboard-1.js"></script>
    @*<script src="~/UI/js/bootstrap.min.js"></script>*@


    @RenderSection("Message", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>