@{
    var user = MVCERP.Web.Library.StaticData.GetUser();
    var menu = MVCERP.Web.Library.UserMonitor.GetInstance().GetMenus(user);
    if (!string.IsNullOrWhiteSpace(user) && null != menu)
    {
        var Group = menu.GroupBy(x => x.ParentGroup).Select(y => y.First());

        foreach (var sub in Group)
        {

            var menuGroup = menu.Where(s2 => s2.ParentGroup == sub.ParentGroup);
            var num = menu.Where(x => x.ParentGroup == sub.ParentGroup).GroupBy(x => x.MenuGroup);
            if (num.Count() > 1)
            {
                string ParentName = sub.ParentGroup;
                <li>
                    <a href="#">
                        <i class="@sub.Class"></i>
                        @sub.ParentGroup
                        <b class="caret"></b>
                    </a>
                    <ul>
                        @foreach (var sub1 in num)
                        {
                            //if (menu.Where(s2 => s2.menuGroup == sub.menuGroup) != null)
                            //{
                            
                                <li><a href="#" class="dropdown">@sub1.Select(y=> y.MenuGroup).FirstOrDefault() </a>
                                    <ul>
                                        @foreach (var sub2 in menu.Where(s2 => s2.MenuGroup == @sub1.Select(y => y.MenuGroup).FirstOrDefault()))
                                        {
                                            if (sub2.ParentGroup == ParentName)
                                            {
                                                <li>
                                                    <a href="@sub2.linkPage">@sub2.MenuName</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            //}
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="#">
                        <i class="@sub.Class"></i>
                        @sub.ParentGroup <span class="caret"></span>
                    </a>
                    <ul>
                        @foreach (var sub2 in menu.Where(s2 => s2.MenuGroup == sub.MenuGroup))
                        {
                            <li>
                                <a href="@sub2.linkPage"><i class='fa fa-arrow-circle-right'></i>@sub2.MenuName</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    }
}

