@model iSolutionLife.Shared.Common.ChangePassword

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="~/UI/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/UI/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/UI/css/portal.css" rel="stylesheet" />
    <title>ChangeUserPassword</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="jumbotron" style="margin-left:25em; margin-right:25em; margin-top: 5em; padding-left: 5em; ">
            
        
<fieldset>
    <legend>ChangePassword</legend>
    
  
    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName, new { @required = "required",@readonly = "readonly", value=Session["UserName"].ToString() })
       @Html.ValidationMessageFor(model => model.UserName)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.OldPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.OldPassword)
        @Html.ValidationMessageFor(model => model.OldPassword)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.NewPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
    

        <button type="submit" class="btn btn-success" style="margin-top:1em"><i class="mdi mdi-check-circle-outline"></i> Submit</button>
   
</fieldset>
        </div>
    }

   </body>
</html>
