@model List<MVCERP.Shared.Common.RoleDetails>
@{
    string menuGroup = "", PreMenu = "";
    int SN = 0;
}
@{
    ViewBag.Title = "Assign Role";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<script>
    var mGrp = true;
    function CheckGroupMenu(menuGroup) {

        if (mGrp) {
            $("." + menuGroup).prop("checked", true);
        }
        else
            $("." + menuGroup).removeAttr("checked");

        mGrp = (mGrp == true ? false : true);
    }
    var add = true;
    function CheckAll(obj) {
        if (obj == "add") {
            $("input[name='add']").each(function () {
                if (add) {
                    $(this).prop("checked", true);
                }
                else
                    $(this).removeAttr("checked");
            });
            add = (add == true ? false : true);
        }
        else if (obj == "Edit") {
            $("input[name='Edit']").each(function () {
                if (add) {
                    $(this).prop("checked", true);
                }
                else
                    $(this).removeAttr("checked");
            });
            add = (add == true ? false : true);
        }
        else if (obj == "Delete") {
            $("input[name='Delete']").each(function () {
                if (add) {
                    $(this).prop("checked", true);
                }
                else
                    $(this).removeAttr("checked");
            });
            add = (add == true ? false : true);
        }
        else if (obj == "View") {
            $("input[name='View']").each(function () {
                if (add) {
                    $(this).prop("checked", true);
                }
                else
                    $(this).removeAttr("checked");
            });
            add = (add == true ? false : true);
        }

    }
</script>
<div class="container manage-container">
    @using (Html.BeginForm("Permission", "Role", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("RoleId", ViewData["id"].ToString())
        @Html.Raw(Model[0].BreadCum)
        <div class="form-horizontal manage-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Permission Setup</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Module Group</th>
                                <th>Module Name</th>
                                <th onclick="CheckAll('View')" style="cursor:pointer">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    View
                                </th>
                                <th onclick="CheckAll('add')" style="cursor:pointer">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Add/Edit
                                </th>
                                <th onclick="CheckAll('Delete')" style="cursor:pointer">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (PreMenu != item.parentFunctionId)
                                {
                                    SN = 0;
                                }
                                if (SN == 0 && string.IsNullOrWhiteSpace(menuGroup))
                                {
                                    menuGroup = item.parentFunctionId;
                                    PreMenu = item.parentFunctionId;
                                }
                                else if (!string.IsNullOrWhiteSpace(menuGroup) && menuGroup != item.parentFunctionId)
                                {
                                    menuGroup = item.parentFunctionId;
                                }
                                else
                                {
                                    menuGroup = "";
                                }

                                SN++;
                                <tr>

                                    <td>@SN</td>
                                    <td><div style="cursor:pointer" onclick="CheckGroupMenu('@PreMenu.Replace(" ","")')">@menuGroup</div></td>
                                    <td>@item.menuName</td>
                                    <td> <input type='checkbox' class="@PreMenu.Replace(" ","")" value="@item.functionId" @(item.ViewId != "0" ? "checked='checked" : "") name='View' /></td>
                                    <td> <input type='checkbox' class="@PreMenu.Replace(" ","")" value="@item.functionId" @(item.AddEdit != "0" ? "checked='checked" : "") name='add' /></td>
                                    <td> <input type='checkbox' class="@PreMenu.Replace(" ","")" value="@item.functionId" @(item.DeleteId != "0" ? "checked='checked" : "") name='Delete' /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Update Role">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    }
</div>
