@model MVCERP.Web.Models.MemberModel


@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
    string id = Request.QueryString["id"];
}

@*<link href="~/UI/css/bootstrap.css" rel="stylesheet" />
    <link href="~/UI/css/bootstrap.min.css" rel="stylesheet" />*@



<!-- Sign up form -->
<div class="User-form" style="padding-top:30px;">
    <div class="container container-fluid">

        @using (Html.BeginForm("New", "Member", FormMethod.Post, new { @id = "Singupform" }))
        {
            <h2 class=" form-title"> Register User</h2>
            <div class="text-danger">
                @ViewBag.ErrorMessage
            </div>
            <div style="display:grid;grid-template-columns:auto auto;grid-column-gap:50px">
                @Html.HiddenFor(x => x.ID, new { @class = "form-control" })

                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.FullName)
                    </div>
                    @Html.TextBoxFor(x => x.FullName, new { @placeholder = "Enter FullName", @class = "form-control", @id = "FullName" })
                </div>

                <div class="form-group">
                    <label for="UserName">UserName</label>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Enter UserName", @class = "form-control", @id = "UserName" })
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    @Html.TextBoxFor(x => x.Email, new { @placeholder = "Enter Email", @class = "form-control", @id = "Email" })
                </div>

                <div class="form-group">
                    <label for="PhoneNo">Phone No</label>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.PhoneNo)
                    </div>
                    @Html.TextBoxFor(x => x.PhoneNo, new { @placeholder = "Enter PhoneNo", @class = "form-control", @id = "PhoneNo" })
                </div>
                <div class="form-group">
                    <label for="password">password </label>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Enter password", @class = "form-control", @id = "Password" })

                </div>

                <div class="form-group">
                    <label for="CPassword">Confirm Password</label>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    @Html.PasswordFor(x => x.CPassword, new { @placeholder = "Confirm Password", @class = "form-control", @id = "CPassword" })
                    <input type="checkbox" onclick="myFunction()"> Show Password
                </div>

                <div class="form-check">
                    @Html.CheckBoxFor(x => x.AdminRight, new { @class = "form-check-input", @id = "AdminRight" })
                    <label class="form-check-label" for="AdminRight">
                        Admin Right
                    </label>
                </div>




                <div class="form-group">
                    @{
                        if (id == null)
                        {
                            <div class="text-danger">
                                @ViewData["msg"]
                            </div>
                            <button type="submit" class="btn btn-danger" id="btnAdd">Add</button>
                        }
                        else
                        {
                            <div class="text-danger">
                                @ViewData["msg"]
                            </div>
                            <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
                        }
                    }
                    <div class="text-danger">
                        @ViewBag.ErrorMessage
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script>
    function myFunction() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        let otherfield = document.getElementById("CPassword")
        if (otherfield.type === "password") {
            otherfield.type = "text";
        } else {
            otherfield.type = "password";
        }
    }

    //$(document).ready(function () {
    //    $("#btnAdd").click(function () {
    //        if ($("#FullName").val() == "") {
    //            $("#FullName").css("border-color", "red");
    //            $(".FullName").html("Please Enter Your Name");
    //        }
    //        else if ($("#FullName").val().match(/(^[A-Za-z]{3,16})([ ]{0,1})([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})$/)) {
    //            $("#FullName").css("border-color", "green");
    //            $(".FullName").html("");
    //        }
    //        else if (!$("#FullName").val().match(/(^[A-Za-z]{3,16})([ ]{0,1})([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})$/)) {
    //            $("#FullName").css("border-color", "red");
    //            $(".FullName").html("Please enter atleast 6 letter or enter character only");
    //        }
    //        else {
    //            $("#FullName").css("border-color", "red");
    //        }

    //        if ($("#UserName").val() == "") {
    //            $("#UserName").css("border-color", "red");
    //            $(".UserName").html("Please Enter Your UserName");
    //        }
    //        else if ($("#UserName").val() !== "") {
    //            $("#UserName").css("border-color", "green");
    //            $(".UserName").html("");
    //        }
    //        else {
    //            $("#UserName").css("border-color", "red");
    //        }

    //        if ($("#PhoneNo").val() == "") {
    //            $("#PhoneNo").css("border-color", "red");
    //            $(".PhoneNo").html("Please Fill AssignTo Input");
    //        }
    //        else if ($("#PhoneNo").val() !== "") {
    //            $("#PhoneNo").css("border-color", "green");
    //            $(".PhoneNo").html("");
    //        }
    //        else {
    //            $("#PhoneNo").css("border-color", "green");
    //        }

    //        if ($("#Password").val() == "") {
    //            $("#Password").css("border-color", "red");
    //            $(".Password").html("Please Enter Your Password");
    //        }
    //        else if ($("#Password").val() !== "") {
    //            $("#Password").css("border-color", "green");
    //            $(".Password").html("");
    //        }
    //        else {
    //            $("#Password").css("border-color", "red");
    //        }

    //        if ($("#Email").val() == "") {
    //            $("#Email").css("border-color", "red");
    //        }
    //        else if ($("#Email").val().match(/^[a-zA-Z0-9._-+]+[@@][a-zA-Z0-9-]{2,}[a-zA-Z0-9-\.]*$/)) {
    //            $("#Email").css("border-color", "green");
    //        }
    //        else {
    //            $("#Email").css("border-color", "red");
    //        }
    //    })
    //});
</script>

