@model MVCERP.Web.Models.MemberModel


@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
    string id = Request.QueryString["id"];
}

@*<link href="~/UI/css/bootstrap.css" rel="stylesheet" />
<link href="~/UI/css/bootstrap.min.css" rel="stylesheet" />*@



    <!-- Sign up form -->
<div class="User-form" style="padding-top:30px;">
    <div class="container container-fluid">
        @using (Html.BeginForm("New", "Member", FormMethod.Post, new { @id = "Singupform" }))
        {
            <h2 class=" form-title"> Register User</h2>
            <div style="display:grid;grid-template-columns:auto auto;grid-column-gap:50px">
                @Html.HiddenFor(x => x.ID, new { @class = "form-control" })


                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    @Html.TextBoxFor(x => x.FullName, new { @placeholder = "Enter FullName", @class = "form-control", @id = "FullName" })
                </div>

                <div class="form-group">
                    <label for="UserName">UserName</label>
                    @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Enter UserName", @class = "form-control", @id = "UserName" })
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @placeholder = "Enter Email", @class = "form-control", @id = "Email" })
                </div>

                <div class="form-group">
                    <label for="PhoneNo">Phone No</label>
                    @Html.TextBoxFor(x => x.PhoneNo, new { @placeholder = "Enter PhoneNo", @class = "form-control", @id = "PhoneNo" })
                </div>
                <div class="form-group">
                    <label for="password">password </label>
                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Enter password", @class = "form-control", @id = "password" })
                </div>

                <div class="form-group">
                    <label for="CPassword">Confirm Password</label>
                    @Html.PasswordFor(x => x.CPassword, new { @placeholder = "Confirm Password", @class = "form-control", @id = "CPassword" })
                </div>
                <div class=" form-group">
                    <label for="Admin Right">Admin Right</label>
                    @Html.CheckBoxFor(x => x.AdminRight, new { @class = "form-control", @id = "AdminRight"})
                </div>

                <div class="modal-footer">
                    @{
                        if (id == null)
                        {
                            <button type="submit" class="btn btn-danger" id="btnAdd">Add</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>

                        }
                     }
                </div>


            </div>
         }   
    </div>
</div>
       