@model MVCERP.Shared.Common.MessageTemplateCommon
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@section scripts{
    
   
    <script type="text/javascript">

    $(document).ready(function () {
        $('#TemplateFor').change(function () {

            var param = $('#TemplateFor').val();
            $("#Fields").empty();
            $("#Fields").append($("<option></option>").val("").html("Select Fields"));

            $.get("/StaticData/GetDropdownForJQuery?flag=MsgTemplateFields&param=" + param, function (data, status) {
                console.log(data);
                $.each(data, function (key, value) {
                    $("#Fields").append($("<option></option>").val(value.id).html(value.text));
                });
            });
        });

        $('#Fields').change(function () {
            var param = $('#Fields').val();

            $("#MsgTemplate").append('#'+param);
        });


    });
            
    </script>
}
<div class="container manage-container">

    @using (Html.BeginForm("Index", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()

        if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="form-group ">
                <div class="col-md-11 alert alert-danger alert-dismissible " role="alert">
                    @ViewBag.Message
                </div>
            </div>

        }
        <div class="form-horizontal manage-body">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"> @Html.LabelFor(m => m.TemplateFor)<small class="text-danger">*</small></label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.TemplateFor, ViewData["TemplateFor"] as SelectList, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Fields<small class="text-danger">*</small></label>
                                <div class="col-sm-6">
                                    <select id="Fields" name="Fields" class="form-control" required="required">
                                        <option value="">Select Option</option>
                                    </select>
                                </div>
                            </div>

                           

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Remarks</label>
                                <div class="col-sm-8">@Html.TextAreaFor(m => m.MsgTemplate, 4, 2, new { @class = "form-control", @placeholder = "Enter Remarks" })</div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <input type="submit" class="btn btn-primary" value="Upload file" />
                                </div>
                            </div>
                        </div>
                    </div>
                   

                </div>

            </div>
        </div>
    }
</div>