@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@section cssStyle{  
    <link href="../../UI/css/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
    <link href="~/UI/jstree/style.min.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="../../ui/js/iSolution_calendar.js"></script>
    <script type="text/javascript" src="../../ui/js/nepali.datepicker.v2.2.min.js"></script>
    <script src="~/UI/jstree/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#treeMIS').jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "animation": 300,
                    "check_callback": true,
                    "multiple": false
                },
                "plugins": ["search", "types", "wholerow", "changed", "conditionalselect"],
                "search": {
                    "case_sensitive": false,
                    "show_only_matches": true
                },
                "types": {
                    "child": {
                        "icon": "mdi mdi-file"
                    },
                    "default": {
                        "icon": "mdi mdi-folder"

                    }
                }
               
            }).on("changed.jstree", function (e, data) {
                var href = data.node.a_attr.href;
                $("#partialView").load(href);
            }).on('open_node.jstree',
                function (e, data) {
                    data.instance.set_icon(data.node, "mdi mdi-folder-open");
                }).on('close_node.jstree',
                    function (e, data) {
                        data.instance.set_icon(data.node, "mdi mdi-folder");
                    }).on("select_node.jstree",
                        function (e, data) {
                            data.instance.toggle_node(data.node);
                        });
            var to = false;
            $("#txtMIS").keyup(function () {
                if (to) {
                    clearTimeout(to);
                }
                to = setTimeout(function () {
                    var valSearch = $('#txtMIS').val();
                    $('#treeMIS').jstree(true).search(valSearch);
                },
                    250);
            });
        });

    </script>
}
<div class="container manage-container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Report</a>
                    </li>
                    <li>
                        <a href="#">MIS</a>
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">MIS Report</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" id="txtMIS" class="form-control input-sm" placeholder="Search MIS Report" />
                    </div>
                    <div id="treeMIS">
                        <ul>
                            @{
                                var user = MVCERP.Web.Library.StaticData.GetUser();
                                var menu = MVCERP.Web.Library.UserMonitor.GetInstance().GetMenus(user);
                                if (!string.IsNullOrWhiteSpace(user) && null != menu)
                                {
                                    var num = menu.Where(x => x.ParentGroup == "NEW MIS Report").GroupBy(x => x.MenuGroup);
                                    if (num.Count() > 0)
                                    {
                                        foreach (var sub1 in num)
                                        {
                                            <li>
                                                <a href="javascript:void(0);">
                                                    @sub1.Select(y => y.MenuGroup).FirstOrDefault()
                                                </a>
                                                <ul>
                                                    @foreach (var sub2 in menu.Where(s2 => s2.MenuGroup == @sub1.Select(y => y.MenuGroup).FirstOrDefault()))
                                                    {
                                                        if (sub2.ParentGroup == "NEW MIS Report")
                                                        {
                                                            <li data-jstree='{"type":"child"}'>
                                                                <a href="@sub2.linkPage">@sub2.MenuName</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }

                                    }

                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="partialView" class="block-filter">

                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-header">
                                        <h3>Business Information Report</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    @*<label class="col-sm-1 control-label"> Region</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownList("Region", ViewData["RegionList"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>*@
                                    <div class="col-sm-8">
                                        <div class="" id="filterGroup">
                                            <button type="button" id="btnReportDueDate" class="btn btn-primary">Today</button>
                                            @*<button type="button" id="btnReportThisMonth" class="btn btn-primary">This Month</button>*@
                                            <button type="button" id="btnReportAsOn" class="btn btn-primary">As On</button>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filterToggle" data-parent="#filterGroup">
                                                Filter As <b class="caret"></b>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="filterToggle">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label"> From Date  </label>
                                                <div class="col-sm-4">
                                                    @Html.TextBox("NepFromDate", "", new { @class = "form-control", @placeholder = "yyyy-mm-dd", @readonly = "readonly" })
                                                </div>
                                                <div class="col-sm-4">
                                                    @Html.TextBox("FromDate", "", new { @class = "form-control", @placeholder = "From Date", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label"> To Date: </label>
                                                <div class="col-md-4">
                                                    @Html.TextBox("NepToDate", "", new { @class = "form-control", @placeholder = "yyyy-mm-dd", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBox("ToDate", "", new { @class = "form-control", @placeholder = "To Date", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group text-right">
                                                <button type="button" id="btnReportWithDateRange" class="btn btn-success">Generate Report</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/UI/js/MISReport.js"></script>
<script type="text/javascript">
    $(function () {
        ShowCalDefault("#FromDate");
        ShowCalDefault("#ToDate");
        ShowNepEngCalendar('#NepFromDate', '#FromDate');
        ShowNepEngCalendar("#NepToDate", "#ToDate");
        //var mis = MIS.BusinesReport();
        @*mis.renderInit("@MVCERP.Web.Library.StaticData.GetUrlRoot()", "", "");*@
    });
</script>
